html { 
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    margin : 0;
    display: flex;
    flex-direction: row;

}

.left {
    color: white;
    height : 100%;
    background-image: url(./images/background.avif);
    background-size: cover;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background: rgba(0, 0, 0, 0.5);
    height:fit-content;
    width: 100%;
    margin-top: 20vh;
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px
}

.logo {
    height: 13vh;
}

.odin {
    font-size: 10vh;
}

footer {
    font-size: 12px;
    text-align: center;
}

.link-left {
    color: white;
}


form {
    color: black;
    height: 100%;
    width: 65%;
}

.intro {
    font-size: 18px;
    font-weight: bold;
    height: 36%;
    background: rgb(241, 239, 239);
    padding-left: 5%;
    padding-right: 25%;
    padding-top: 12%;
}

.top {
    border-bottom-style: groove;
    height: 34%;
    background: white;
    padding-left: 5%;
}

.top p {
    color: rgb(73, 72, 72);
    font-weight: bold;
    font-size: 18px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top_controls {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 5%;
}

.control {
    display: flex;
    flex-direction: column;
    width: 35%;
    color: rgb(73, 72, 72);
    font-size: 12px;
}

.control input {
    width: 75%;
    height: 45%;
    border-color: #E5E7EB;
    border-style: solid;
    border-radius: 5px;
}

input[type="password"]:invalid {
    border: 1px solid red;
}

input[type="password"]:invalid:focus {
    border: 1px solid blue;
}

input:focus {
    outline: none;
    border : 1px solid blue;
}

.bottom {
    height: 30%;
    background: rgb(241, 239, 239);
    padding-left: 5%;
    padding-top: 3%;
}

.bottom button {
    background-color: #596D48;
    height: 40px;
    width: 190px;
    color: white;
    font-weight: bold;
    border-radius: 5px ;
    border-style: none;
}

.log_link {
    color:#596D48;
    font-weight: bold;
    text-decoration: none;
}