html { 
    box-sizing: border-box;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    width: 100vw;
    margin : 0;
    display: flex;
    flex-direction: row;

}

.left {
    color: white;
    height : 100%;
    background-image: url(./images/background.avif);
    background-size: cover;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    background: rgba(0, 0, 0, 0.5);
    height:fit-content;
    width: 100%;
    margin-top: 22vh;
    font-size: 55px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    height: 10vh;
}

.odin {
    font-size: 6vh;
}

footer {
    font-size: 12px;
    text-align: center;
}

.link-left {
    color: white;
}


form {
    color: black;
    height: 100%;
    width: 65%;
}

.intro {
    font-weight: bold;
    height: 30%;
    background: rgb(241, 239, 239);
}

.top {
    border-bottom-style: groove;
    height: 40%;
    background: white;
    padding-left: 5%;
}


.top_controls {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 5%;
}

.control {
    display: flex;
    flex-direction: column;
    width: 35%;

}

.control input {
    width: 85%;
}

.bottom {
    height: 30%;
    background: rgb(241, 239, 239);
}